<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<h2>Enter Details</h2>
<form action="/details/add_details/" method="get">
    <table>
        <tr>
            <td><label>Fullname</label></td>
            <td><input type="text" name="fullname"></td>
        </tr>
        <tr>
            <td><label>Description</label></td>
            <td><input type="text" name="description"></td>
        </tr>
        <tr>
            <td><label>City</label></td>
            <td><input type="text" name="city"></td>
        </tr>
        <tr>
            <td><label>State</label></td>
            <td><input type="text" name="state"></td>
        </tr>
        <tr>
            <td><label>Email</label></td>
            <td><input type="email" name="email"></td>
        </tr>
        <tr>
            <td><label>Country</label></td>
            <td><input type="text" name="country"></td>
        </tr>
    </table>
    <button type="submit" name="submit" value="submit">Submit</button>
</form>

</body>
</html>