<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile: {{User.fullname}}</title>
</head>
<body>
<table>
    <tr>
        <td><h2>Fullname</h2></td> <td>{{User.fullname}}</td>
    </tr>
    <tr>
        <td><h2>City</h2></td><td>{{User.city}}</td>
    </tr>
    <tr>
        <td><h2>State</h2></td><td>{{User.state}}</td>
    </tr>
    <tr>
        <td><h2>Country</h2></td><td>{{User.country}}</td>
    </tr>
    <tr>
        <td><h2>Email</h2></td><td>{{User.email}}</td>
    </tr>
</table>
</body>
</html>