<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Publish</title>
</head>
<body>
<h2>Enter Contents</h2>
<form action="/publish/addContent/" method="get">
    <table>
        <tr>
            <td><label>Title</label></td>
            <td><input type="text" name="title"></td>
        </tr>
        <tr>
            <td><label>Contents</label></td>
            <td><input type="text" name="content"></td>
        </tr>
    </table>
    <button type="submit" name="submit">Publish</button>
</form>

</body>
</html>