<html>
<head>
    <title>Sign Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional Bootstrap theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>
<h3 style="position:relative; left:16cm;top:3cm;font-weight:bolder;"> Register Here</h3>

<form action="/register/addUser/"  method="post" {% csrf_token %} class="form-default" role="form">

    <div class="form-group" style="width:15cm; position:relative; left:10cm;top:3cm;">
        <label class="control-label" for="email">Email:</label>
        <input type="email" name="email" placeholder="Enter Email" class="form-control">
    </div>

    <div class="form-group" style="width:15cm; position:relative; left:10cm;top:3cm;">
        <label class="control-label" for="email">Password:</label>
        <input type="password" name="password" placeholder="Enter Password" class="form-control">
    </div>
    <div class="form-group" style="width:15cm; position:relative; left:10cm;top:3cm;">
        <label class="control-label" for="email">Password:</label>
        <input type="password" name="password2" placeholder="Enter Password Once Again" class="form-control">
    </div>

    <div class="form-group" style="width:15cm;position:relative; left:10cm;top:3cm;">
    <button type="submit" name="submit" value="'submit" class="form-control .btn btn-success">Submit</button>
    </div>
</form>
</body>
</html>

