body
{
  background-color:lightblue;
}
.home
{
 position:relative;
 left:12cm;
 margin:1cm;
}
a
{
  text-decoration:none;
  font-weight:bolder;
  color:black;
  font-size:0.8cm;
  width:10cm;

}
.content
{
   color:grey;
  font-size:0.5cm;
}
p
{
 color:grey;
 font-size:0.3cm;
}