body
{
    background-color:lightblue;
}

.login
{
  width:10cm;
  height:10cm;
  position:relative;
  margin:0;
  padding:1cm;
  left:12cm;
  top:3.2cm;
}

input[type=email], input[type=password]
{
  position:relative;
  width:10cm;
  height:1.2cm;
  font-weight:bolder;
  font-size:0.5cm;
  display:block;
  margin-bottom:20px;
}
table, td
{
  line-height:1cm;
}
button[type=submit]
{
 width:10cm;
 height:1.2cm;
 position:relative;
 left:0.1cm;
 font-weight:bold;
 font-size:0.5cm;
}
h3
{
  position:relative;
  left:3.7cm;
  font-size:1cm;
}

