body
{
  background-color:lightblue;
}
.publish
{
  position:relative;
  margin:1cm;
  left:1cm;
}
input[type=text]
{
  position:relative;
  width:20cm;
  height:1.2cm;
  font-weight:bolder;
  font-size:0.5cm;
  display:block;
  margin-bottom:20px;
}

